<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>#! - :title</title>
</head>

<body>
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">#!</h1>
                <p>神様のメモ帳</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol style="background-color: white;padding: 0px 0px 0px 0px;" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">top</a></li>
                    <li class="breadcrumb-item active" aria-current="page">:title</li>
                </ol>
                <div class="blog-post">
                    <h2 class="blog-post-title">:title</h2>
                    <p class="blog-post-meta">:create</p>
                    <hr>
                    :body
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <p>&copy; 0x6d61 2020</p>
        </div>
    </footer>
</body>

</html>