<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>#! - :title</title>
    <style>
        body {
            padding-bottom: 70px;
        }
    </style>
</head>

<body>
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">#!</h1>
                <p>神様のメモ帳</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol style="background-color: white;padding: 0px 0px 0px 0px;" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">top</a></li>
                    <li class="breadcrumb-item active" aria-current="page">:title</li>
                </ol>
                <div class="blog-post">
                    <h2 class="blog-post-title">:title</h2>
                    <p class="blog-post-meta">:create</p>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <hr>
                    :body
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <footer style="background-color: #e9ecef" class="footer mt-auto py-2 fixed-bottom">
        <div class="container">
            <p class="text-muted">&copy; 2020 0x6d61.com</p>
        </div>
    </footer>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>

</html>